#root {
    background-image: url('../Project/images/BG.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    padding: 0;
    margin: 0;
    height: auto;

}

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}